#list {
  display: none;
}

margin: 0px auto;display:block

body {
    background-color: yellow;
}

#grumpy-showing {
  display: none;
}

h3 {
  font-family: fantasy;
  color: blue;
}
h4 {
  font-family: fantasy;
  color: red;
  background-color: #CACAD4;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
