#list {
  display: none;
}

margin: 0px auto;display:block

body {
    background: url(/img/cream_dust.png) repeat 0 0;
}

#grumpy-showing {
  display: none;
}

h3 {
  font-family: fantasy;
  color: blue
}
h4 {
  font-family: fantasy;
  color: red
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
